<a href="https://colab.research.google.com/github/OlgaBabyna/Exercises-sqlite-python/blob/main/northwind.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Exercise 1**

Using the sqlite3 package connect to the northwind.db database. Then create a Cursor object and execute the following SQL query to the database:

SELECT * FROM Category


Using the appropriate method, print the first row from the above query to the console. Finally, close the database connection.

**Solution 1**

In [ ]:
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM Category''')
row = cur.fetchone()
print(row)
conn.close()

(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales')

**Exercise 2**

Using the sqlite3 package connect to the northwind.db database. Then create a Cursor object and execute the following SQL query to the database:

SELECT * FROM Category


Using the Cursor.fetchone() method, assign the first two rows of the above query to the variables:

first_row

second_row

Display the contents of the variables first_row and second_row to the console and close the database connection.

**Solution 2**

In [ ]:
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM Category''')
first_row = cur.fetchone()
second_row = cur.fetchone()
print(first_row)
print(second_row)
conn.close()

(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales')
(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings')

**Exercise 3**

Using the sqlite3 package connect to the northwind.db database. Then create a Cursor object and execute the following SQL query to the database:

SELECT * FROM Category


Using the Cursor.fetchall() method, assign all rows returned by the above query to a variable:

rows

Display the contents of the variable rows to the console and close the database connection.

**Solution 3**

In [ ]:
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM Category''')
rows = cur.fetchall()
print(rows)
conn.close()

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'), (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'), (3, 'Confections', 'Desserts, candies, and sweet breads'), (4, 'Dairy Products', 'Cheeses'), (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'), (6, 'Meat/Poultry', 'Prepared meats'), (7, 'Produce', 'Dried fruit and bean curd'), (8, 'Seafood', 'Seaweed and fish')]

**Exercise 4**

Using a for loop, display each row returned by the above query to the console as shown in Exercise 3.

**Solution 4**

In [ ]:
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM Category''')
rows = cur.fetchall()
for c in rows:
  print(c)
conn.close()

(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales')
(2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings')
(3, 'Confections', 'Desserts, candies, and sweet breads')
(4, 'Dairy Products', 'Cheeses')
(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal')
(6, 'Meat/Poultry', 'Prepared meats')
(7, 'Produce', 'Dried fruit and bean curd')
(8, 'Seafood', 'Seaweed and fish')

**Exercise 5**

Modify the previous query to display only the category name (second column) to the console (use a for loop).

**Solution 5**

In [3]:
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT CategoryName FROM Category''')
rows = cur.fetchall() 
for c in rows:
  print(c)
conn.close()

('Beverages',)
('Condiments',)
('Confections',)
('Dairy Products',)
('Grains/Cereals',)
('Meat/Poultry',)
('Produce',)
('Seafood',)

In [10]:
from traitlets.utils import descriptions
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM Category''')
rows = cur.fetchall()
for c in rows:
  print (c[1])
conn.close()

Beverages
Condiments
Confections
Dairy Products
Grains/Cereals
Meat/Poultry
Produce
Seafood

**Exercise 6**

Using the sqlite3 package connect to the northwind.db database. Then create a Cursor object and execute the SQL query that returns the following columns:

FirstName

LastName

Title

City

from the Employee table.

Using a for loop, display each row returned by the created query to the console.

**Solution 6**

In [12]:
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT FirstName,LastName,Title,City FROM Employee''')
rows = cur.fetchall()
for c in rows:
  print (c)
conn.close()

('Nancy', 'Davolio', 'Sales Representative', 'Seattle')
('Andrew', 'Fuller', 'Vice President, Sales', 'Tacoma')
('Janet', 'Leverling', 'Sales Representative', 'Kirkland')
('Margaret', 'Peacock', 'Sales Representative', 'Redmond')
('Steven', 'Buchanan', 'Sales Manager', 'London')
('Michael', 'Suyama', 'Sales Representative', 'London')
('Robert', 'King', 'Sales Representative', 'London')
('Laura', 'Callahan', 'Inside Sales Coordinator', 'Seattle')
('Anne', 'Dodsworth', 'Sales Representative', 'London')

**Exercise 7**

Using the sqlite3 package connect to the northwind.db database. Then create a Cursor object and execute the SQL query that returns the following columns:

FirstName

LastName

Title

City

from the Employee table.

Using the Cursor.fetchmany() method, retrieve the first three rows returned by the created query. In response, use a for loop to display each of these rows to the console.

**Solution 7**

In [15]:
import sqlite3
conn = sqlite3.connect('/content/drive/MyDrive/databases/northwind.db')
cur = conn.cursor()
cur.execute('''SELECT FirstName,LastName,Title,City FROM Employee''')
rows = cur.fetchmany(3)
for c in rows:
  print(c)
conn.close()

('Nancy', 'Davolio', 'Sales Representative', 'Seattle')
('Andrew', 'Fuller', 'Vice President, Sales', 'Tacoma')
('Janet', 'Leverling', 'Sales Representative', 'Kirkland')